@using System.Security.Claims;
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/styles/style.css">
</head>

<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar custom-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/images/Logo.png" alt="Site Logo" class="navbar-logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Home" asp-action="">Home</a></li>
                    <li><a class="nav-link" asp-action="Details" asp-controller="Accounts" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a asp-controller="Post" asp-action="following">Following</a></li>
                    <li><a asp-controller="Accounts" asp-action="Index">ADMIN SECTION</a></li>
                
                <form class="navbar-form navbar-right" role="search" asp-action="Index" asp-controller="Home" method="get">
                    <div class="form-group">
                        <input class="form-control custom-search" name="searchByUser" placeholder="search by username" value="@ViewBag.searchByUser" id="searchButton" />
                        <button type="submit">Search</button>
                        <button onclick="document.getElementById('searchButton').value=null">Reset search</button>
                    </div>
                </form>
                                @if (User.Identity.IsAuthenticated)
                {

						<li><a class="nav-link" asp-action="Logout" asp-controller="Accounts"><b>(@User.Identity.Name)</b> Logout?</a></li>
                   
                }
                else
                {

                        <li><a class="nav-link" asp-action="Login" asp-controller="Accounts">Login</a></li>
                }     
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>

</html>
